h1{
    margin-top: 0px;
}

header{
    margin-top: 0px;
    background-color: #FFDE00;
}
.pokedex__header{
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 50px;
    color: darkblue;
    height: 10%;
}
body {
    margin-top: 0;
    background-color: #FFDE00;
}

div {
    text-align: center;
    margin-top: 0;
    font-size: 30px;
    color: #CC0000;
}
